.mat-card{
  // background-color: rgb(48,48,48);
  background-color: #ECEFF4;
  color: rgb(0, 0, 0);
  border: 0px solid black;
  // border: 2px solid maroon;
  margin:2px;
}
.mat-card-in{
  // background-color: rgb(203, 231, 255);
  background-color: #8FBCBB;
}

.gantt-container{
  flex-direction:row;
  justify-content:start;
  text-align: center;
  margin: 10px;
}

.info-container {
	display: flex;
	background: white;
  justify-content: space-around;
}
.panel-info{
  flex-basis: 18%;
  margin: 10px;
}

h2 {
	text-align: left;
  margin: 10px;
}

.table-1{
	display: flex;
}
.cell-1{
  flex-basis: 50%;
  margin: 5px;
}
.cell{
  font-weight: bold;
}
